:root{
    --pri:#F2F2F2;
    --sec:#EAE4D5;
    --tri1:#B6B09F;
    --tri2:#000000;
    --brown:#f57417;
    --gray:#393E46;
}
@font-face {
    font-family: light;
    src: url(./Aeonik-Light.otf);
}
@font-face {
    font-family: medium;
    src: url(./Aeonik-Medium.otf);
}
@font-face {
    font-family: bold;
    src: url(./Aeonik-Bold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--tri1);
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--gra);
    nav{
        height: 10%;
        background-color: var(--tri1);
    }
    .view1{
        padding: 2%;
        // height: 100%;
        width: 100%;
        // justify-content: center;
        // gap: 5%;
        // flex-wrap: wrap;
        // transition: ease-in-out 0.5s;
        position: absolute;
        .ipage{
            color: white;
            background-image: url(./ipage1.jpg);
            background-position: -15px 1380px;
            object-fit: cover;
            padding: 40px;
            object-fit:fill;
            border-radius: 20px;
            height: 300px;
            // align-items: center;
            justify-content: flex-start;

            // width: 80%;
            .head1{
                margin-top: 50px;
                // background-color: #BF9270;
                height: max-content;
                .date{
                    font-size: larger;
                    margin-top:-65px;
                    margin-bottom:30px;
                }
                .time{
                    font-size: 70px;
                }
                .location{
                    font-size: 50px;
                }
            }
        }
        .allfeatures{
        padding: 2%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5%;
        flex-wrap: wrap;
        transition: ease-in-out 0.5s;
        position: absolute;

        }

    
        .card{
            height: 250px;
            width: 180px;
            background-color: antiquewhite;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;

            }
            h2{
                position: absolute;
                margin-top: -15%;
                font-weight: 600;
                right: 5%;
                color: var(--pri);
                font-size: medium;

            }
            
        }
    }
}
.card:active{
    scale: 0.98;
}
.fullelem{
    padding: 40px;
    font-size: xx-large;
    font-weight: bold;
    height: 100%;
    width: 100%;
    background-color: var(--tri2);
    display: none;
    position: absolute;
}
.back:active{
    scale:0.97;
}
.back{
    background-color: var(--pri);
    right: 5%;
    position: absolute;
    padding: 10px 20px;
    font-size: medium;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5 25 --tri2;
}
.To-do{
    color: var(--tri2);
    background-color: var(--sec);
    // display: flex;
    padding: 5%;
    .container{
        margin-top: 5%;
        // background-color: var(--tri1);
        height: 60%;
        width: 100%;
        display: flex;
        gap: 2%;
        .left{
            background-color: var(--tri1);
            border-radius: 10px;
            height: 100%;
            width: 33%;
            form{
                margin-top: 2%;
                color: var(--pri);
                height: 100%;
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                #label{
                    font-size: small;
                    height: fit-content;
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    gap: 2px;
                }
                input#task{
                    width: 100%;
                    padding: 10px 20px;
                    background-color: var(--brown);
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    color: var(--pri);

                    // box-shadow: 0px 0px 10px 2px rgb(255 237 219);
                    // -webkit-box-shadow: 0px 0px 10px 2px rgb(255 237 219);
                    // -moz-box-shadow: 0px 0px 10px 2px rgb(255 237 219);
                }
                textarea{
                    width: 100%;
                    min-height: 50%;
                    background-color: var(--brown);
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    color: var(--pri);

                }
                button{
                    width: 100%;
                    padding: 10px 20px;
                    background-color: var(--sec);
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    color: var(--tri2);


                }
                #sub:active{
                    scale: 0.95;
                }
            }
            
        }
        .right{
            border-radius: 10px;
            background-color: var(--tri1);
            height: 100%;
            width: 67%;
            padding: 10px;
            overflow: auto;
            .task{
                margin-bottom: 2%;
                display: flex;
                padding: 10px;
                justify-content: space-between;
                background-color: var(--brown);
                border-radius: 5px;
                h5{
                    color: white;
                    font-weight: bold;
                    span{
                        color: red;
                        font-size: small;
                        opacity: 0;
                    }
                    span.true{
                        opacity: 1;

                    }
                }
                button{
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: none;
                    background-color: var(--sec);
                }

            }

        }
    }
}
.dailyplanner{
    // padding: 10px;
    background-color: var(--tri1);
    .container-dp{
        overflow: auto;
        padding: 20px;
        margin-top: 20px;
        height: 80%;
        background-color: var(--sec);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        .plannertime{
            display: flex;
            align-items: center;
            position: relative;
            width: 49%;
            margin-bottom: 10px;
            p{
                font-size: x-small;
                position: absolute;
                top: 5%;
                left: 1%;
            }
            input{
                background-color: var(--brown);
                border: none;
                border-radius: 10px;
                padding: 20px 40px;
                width: 100%;
                outline: none;
                font-weight: 500;
                padding-top: 30px;
            }
        }
    }
}
.motivational{

    .container-moti{
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .content{
            padding: 20px;
            width: 100%;
            background-color: var(--tri2);
            border-radius: 20px;
            box-shadow: 0px 0px 383px 74px rgb(245, 248, 250);
            -webkit-box-shadow: 0px 0px 383px 74px rgba(222, 236, 242, 0.59);
            -moz-box-shadow: 0px 0px 383px 74px rgb(231, 236, 239);
            .moti1{
                img{
                    position: absolute;
                    right: 5%;
                    top: 3%;
                    opacity: 0.67;
                }
                padding: 10px;
                background-color: var(--pri);
                border-radius: 20px;
                width:fit-content;

            }
            .moti2{
                color:#8b4513;
                margin-top: 20px;
                padding: 10px;
                border-radius: 20px;
            }
            .moti3{
                font-size: small;
                color: aliceblue;
                margin-top: 20px;
                padding: 10px;
                border-radius: 20px;
                text-align: right;
                position: relative;

            }
        }
}

}
.pomodoro{
    // display: block;
    background-color: (var(--tri1));
    .mainpomo{
        .pomo{
            position: absolute;
            left: 50%;
            top: 25%;
            transform: translate(-50%,-50%);
            background-color: var(--pri);
            padding: 10px;
            border-radius: 20px;
            color: var(--tri2);
        }
        .pomo1{
            position: absolute;
            top: 53%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            font-size: 4rem;
            h1{
                font-size: 15rem;
            }
            #copy{
                position: absolute;
                color: black;
                top: 1%;
                right: -1%;
            }
            button{
                padding: 15px 30px;
                border: none;
                border-radius: 20px;
                background-color: var(--pri);
                box-shadow: 5px 5px 0px black;
            }
            #bpomo:active{
                transform: scale(0.95);
            }
        }
    }
}
// .daily-goals{
//     display: block;
//         color: white;
//     background-color: var(--tri1);
//     // display: flex;
//     padding: 5%;
//     .container{
//         margin-top: 5%;
//         // background-color: var(--tri1);
//         height: 60%;
//         width: 100%;
//         display: flex;
//         gap: 2%;
//         .left{
//             background-color: var(--tri2);
//             border-radius: 10px;
//             height: 100%;
//             width: 33%;
//             form{
//                 margin-top: 2%;
//                 color: var(--pri);
//                 height: 100%;
//                 width: 100%;
//                 padding: 10px;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: flex-start;
//                 gap: 20px;
//                 #label{
//                     font-size: small;
//                     height: fit-content;
//                     display: flex;
//                     justify-content:center;
//                     align-items: center;
//                     gap: 2px;
//                 }
//                 input#task{
//                     width: 100%;
//                     padding: 10px 20px;
//                     background-color: var(--tri1);
//                     border-radius: 5px;
//                     border: none;
//                     outline: none;
//                     color: var(--pri);

//                     // box-shadow: 0px 0px 10px 2px rgb(255 237 219);
//                     // -webkit-box-shadow: 0px 0px 10px 2px rgb(255 237 219);
//                     // -moz-box-shadow: 0px 0px 10px 2px rgb(255 237 219);
//                 }
//                 textarea{
//                     width: 100%;
//                     min-height: 50%;
//                     background-color: var(--tri1);
//                     outline: none;
//                     border: none;
//                     border-radius: 5px;
//                     color: var(--pri);

//                 }
//                 button{
//                     width: 100%;
//                     padding: 10px 20px;
//                     background-color: var(--pri);
//                     border: none;
//                     outline: none;
//                     border-radius: 5px;
//                     color: var(--tri2);


//                 }
//                 #sub:active{
//                     scale: 0.95;
//                 }
//             }
            
//         }
//         .right{
//             border-radius: 10px;
//             background-color: var(--tri2);
//             height: 100%;
//             width: 67%;
//             padding: 10px;
//             overflow: auto;
//             .task{
//                 margin-bottom: 2%;
//                 display: flex;
//                 flex-wrap: wrap;
//                 width: 50%;
//                 flex-direction: column;
//                 padding: 10px;
//                 // justify-content: space-between;
//                 background-color: var(--sec);
//                 border-radius: 5px;
//                 h5{
//                     color: white;
//                     font-weight: bold;
//                     span{
//                         color: red;
//                         font-size: small;
//                         opacity: 0;
//                     }
//                     span.true{
//                         opacity: 1;

//                     }
//                 }
//                 button{
//                     padding: 10px 20px;
//                     border-radius: 5px;
//                     border: none;
//                     background-color: var(--pri);
//                 }

//             }

//         }
//     }

// }